/* ============================================
   REMICODES — redesign 2026
   ============================================ */

@import "base.css";

/* Layout */

body {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--body-font-size)
}

header {
  padding-top: 30px;
  padding-left: 90px;
  padding-right: 90px;
}

header nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

main {
  max-width: 90vw;
  padding: 120px 90px 60px 90px;
}

article.page .page--body,
article.post .post--body,
article.blog-archive .blog-archive--body {
  display: grid;
  grid-template-columns: 50vw 20vw;
  align-items: start;
  gap: 14rem;
}

.aside--toc ol,
.aside--toc ul {
  padding: 0;
  list-style-position: inside;
}

.post--content pre {
  overflow-x: auto;
}

.post--content pre code {
  white-space: pre;
}

article.post .post--title .breadcrumbs {
  margin-top: -24px;
}

article.post .post--title {
  margin-bottom: 48px;
}

/* Home */

.home--hero {
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: start;
  gap: 2em;
}

.home--latest {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--headers-font);
}

h1 { font-size: var(--h1-font-size); }
h2 { font-size: var(--h2-font-size); }
h3 { font-size: var(--h3-font-size); }
h4, h5, h6 { font-size: var(--headings-font-size); }
