/* ============================================
   REMICODES — redesign 2026
   ============================================ */

/* Layout */

body {
  margin: 0;
  padding: 0;
}

header {
  padding-top: 30px;
  padding-left: 90px;
  padding-right: 90px;
}

header nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

main {
  max-width: 90vw;
  padding: 60px 90px;
}

article.page .page--body,
article.post .post--body {
  display: grid;
  grid-template-columns: 50vw 20vw;
  align-items: start;
  gap: 14rem;
}

.aside--toc ol,
.aside--toc ul {
  padding: 0;
  list-style-position: inside;
}

/* Home */

.home--hero {
  /*display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: start;
  gap: 2em;*/
}

.home--latest {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
