.newsletter-lite {
  padding: 30px 50px 30px 50px;
  background: url(/media/shared/golden-rectangle.png) no-repeat center;
  background-size: 45vw;
  #mce-EMAIL {
    width: 66%;
    padding: 10px 10px 10px 10px;
    border: none;
    border-bottom: 3px solid var(--link-color);
    background-color: var(--body-background-color-00);
    font-size: var(--body-font-size);
  }
  #mc-embedded-subscribe {
    border-radius: 5;
    border: none;
    color: var(--body-background-color-00);
    background-color: var(--link-color);
    padding: 13px;
    margin: 10px;
    font-size: var(--body-font-size);
  }
  .newsletter-credits {
    font-size: var(--smaller-font-size);
  }
  @media screen and (min-width: 1900px) {
    width: 80vw;
    position: relative;
    left: calc(-40vw + 50%);
    margin-top: 48px;
    margin-bottom: 48px;
    padding: 60px 36px 30px 36px;
    text-align: center;
    background-size: 50vw;
  }
  @media screen and (max-width: 1024px) {
    width: 90vw;
    position: relative;
    left: calc(-45vw + 50%);
    margin-top: 48px;
    margin-bottom: 48px;
    padding: 30px 50px 30px 50px;
    text-align: center;
    background-size: 90vw;
  }
  @media screen and (max-width: 560px) {
    width: 90vw;
    position: relative;
    left: calc(-45vw + 50%);
    background: url(/media/shared/newsletter-background-small.svg) no-repeat
      center;
    margin-top: 48px;
    margin-bottom: 48px;
    padding: 30px 50px 30px 50px;
    text-align: center;
    background-size: 90vw;
  }
}

.newsletter {
  width: 60vw;
  position: relative;
  left: calc(-30vw + 50%);
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 30px 50px 30px 50px;
  background: url(/media/shared/newsletter-background-large.svg) no-repeat
    center;
  background-size: 60vw;
  #mce-EMAIL {
    padding: 10px 10px 10px 10px;
    border: none;
    border-bottom: 3px solid var(--link-color);
    background-color: var(--body-background-color-00);
    font-size: var(--body-font-size);
  }
  #mc-embedded-subscribe {
    border-radius: 5;
    border: none;
    color: var(--body-background-color-00);
    background-color: var(--link-color);
    padding: 13px;
    margin: 10px;
    font-size: var(--body-font-size);
  }
  .newsletter-credits {
    font-size: var(--smaller-font-size);
  }
  @media screen and (min-width: 1900px) {
    width: 80vw;
    position: relative;
    left: calc(-40vw + 50%);
    margin-top: 48px;
    margin-bottom: 48px;
    padding: 60px 36px 30px 36px;
    text-align: center;
    background-size: 50vw;
  }
  @media screen and (max-width: 1024px) {
    width: 90vw;
    position: relative;
    left: calc(-45vw + 50%);
    margin-top: 48px;
    margin-bottom: 48px;
    padding: 30px 50px 30px 50px;
    text-align: center;
    background-size: 90vw;
  }
  @media screen and (max-width: 560px) {
    width: 90vw;
    position: relative;
    left: calc(-45vw + 50%);
    background: url(/media/shared/newsletter-background-small.svg) no-repeat
      center;
    margin-top: 48px;
    margin-bottom: 48px;
    padding: 30px 50px 30px 50px;
    text-align: center;
    background-size: 90vw;
  }
}

.newsletter-home {
  margin-top: 24px;
  margin-bottom: 18px;
}

.pink-arrow {
  position: relative;
  height: 60px;
  margin-top: -50px;
  right: 5px;
  top: 50px;
}
