<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% if page.title %}
      {{ page.title }} - Remi Mercier
    {% else %}
      {{ site.title }} - Ruby on Rails Software Engineer
    {% endif %}
  </title>

  <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,600' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>

  <!---------------->
  <!-- Open Graph -->
  <!---------------->

  <!-- Site title -->
  <meta property="og:site_name" content="{{ site.title }} - Ruby on Rails Software Engineerr">

  <!-- Page title -->
  {% if page.title %}
    <meta property="og:title" content="{{ page.title }} - Remi Mercier - Ruby on Rails Software Engineer">
  {% else %}
    <meta property="og:title" content="{{ site.title }} - Ruby on Rails Software Engineer">
  {% endif %}

  <!-- Type of content -->
  {% if page.title %}
    <meta property="og:type" content="article">
  {% else %}
    <meta property="og:type" content="website">
  {% endif %}

  <!-- Excerpt -->
  {% if page.excerpt %}
    <meta property="og:description" content="{{ page.excerpt }}">
  {% else %}
    <meta property="og:description" content="{{ site.description }}">
  {% endif %}

  <!-- Url -->
  {% if page.url %}
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  {% endif %}

  <!-- Author -->
  <meta property="article:author" content="{{ site.url }}/about/">

  <!-- Date -->
  {% if page.date %}
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
  {% endif %}

  <!-- Cover image -->
  {% if page.cover_image %}
    <meta property="og:image" content="{{ site.url }}{{ page.cover_image }}">
  {% else %}
    <meta property="og:image" content="{{ site.url }}/media/remi-mercier.jpeg">
  {% endif %}

  <!-- Mastodon -->

  <link rel="me" href="https://ruby.social/@remi">

  <!-- Twitter -->
  <meta name="twitter:site" content="@mercier_remi">
  <meta name="twitter:creator" content="@mercier_remi">
  {% if page.cover_image %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ site.url }}{{ page.cover_image }}">
  {% else %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="https://remimercier.com/media/remi-mercier.jpeg">
  {% endif %}
</head>
