<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,600' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>

  <meta content="{{ site.title }} - Maker of shiny stuff on the internet" property="og:site_name">
  {% if page.title %}
  <meta content="{{ page.title }}" property="og:title">
  {% else %}
  <meta content="{{ site.title }}" property="og:title">
  {% endif %}
  {% if page.title %}
  <meta content="article" property="og:type">
  {% else %}
  <meta content="website" property="og:type">
  {% endif %}
  {% if page.excerpt %}
  <meta content="{{ page.excerpt }}" property="og:description">
  {% else %}
  <meta content="{{ site.description }}" property="og:description">
  {% endif %}
  {% if page.url %}
  <meta content="{{ site.url }}{{ page.url }}" property="og:url">
  {% endif %}
  {% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
  <meta content="{{ site.url }}/about/" property="article:author">
  {% endif %}
  <meta content="/media/remi-mercier.jpeg" property="og:image">

  <meta name="twitter:site" content="@mercier_remi">
  <meta name="twitter:creator" content="@mercier_remi">
  <meta name="twitter:image" content="/media/remi-mercier.jpeg">
  <meta name="twitter:card" content="summary">
</head>
