<div class="news-ribbon">
  <div class="news-ribbon--label">
    <p>⚡️ Site update</p>
  </div>
  <div class="news-ribbon--content">
    <span>Currently working on the website — things may look broken or change at any time</span>
    <span>New blog post: <a href="{{ site.posts.first.url | prepend: site.baseurl }}">{{ site.posts.first.title }}</a></span>
  </div>
  <div>
    <button class="news-ribbon--toggle" aria-label="Pause ticker">⏸️</button>
  </div>
</div>

<script src="{{ site.baseurl }}/javascript/news-ribbon.js"></script>
