<h3>Wanna get more essays like this one?</h3>
<p>Join +400 developers from around the world and become a pen pal. ✌🏻</p>

<form method="post" action="https://newsletter.infomaniak.com/v3/api/1/newsletters/webforms/22705/submit" class="inf-form">
<input type="email" name="email" style="display:none" />
<input type="hidden" name="key" value="eyJpdiI6Imh0N2RFSytYTGdRMzhWRjdtWnZLeWhzXC9RdnJqMTFGd1pENEZCZEZhYmg4PSIsIm1hYyI6IjA3NTRiMmY1YjM2Yzk3ODgxOGNlMmI1YWZlNDljYmM5OTY0MGJmZWRiN2IwYjU0MDU0NjA0NTczOWQzNWEyMTciLCJ2YWx1ZSI6IkRhaldZU2RpTXNXK20wN2JRemZVbHhlbXdcL3FRMmJ2YmRMV2VDWFNETHRjPSJ9">
<input type="hidden" name="webform_id" value="22705">
<div class="inf-main_04d4933024367d04b052b3c62fc56f32">
  <h4></h4>
  <span></span>
  <div class="inf-success" style="display:none">
    <h4>Thank you! Check your inbox, you&#039;ve received a confirmation email.</h4>
    <p> <a href="#" class="inf-btn">&laquo;</a> </p>
  </div>
<div class="inf-content">
  <div class="inf-input inf-input-text"> <input type="email" name="inf[1]" data-inf-meta="1" data-inf-error="" required="required" placeholder="Email *" > </div>
  <div class="inf-rgpd"></div> <script src="https://eu.altcha.org/js/latest/altcha.min.js" type="module" defer></script> <altcha-widget hidelogo hidefooter floating challengeurl="https://newsletter.infomaniak.com/v3/altcha-challenge" ></altcha-widget> <script src="https://newsletter.storage5.infomaniak.com/mcaptcha/altcha.js" defer> </script> <script type="text/javascript" src="https://newsletter.infomaniak.com/v3/static/webform_index.js?v=1774018751"></script> <div class="inf-submit"> <input type="submit" style="margin-top: 25px;" name="" value="Become my pen pal (yay!)"> </div> </div> </div> </form>
