<form class="newsletter-block"
      action="https://tinyletter.com/merciremi"
      method="post"
      target="popupwindow"
      onsubmit="window.open('https://tinyletter.com/merciremi', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
  <p>Wanna get more essays like this one?</p>
  <p>
    <strong>Cool! I'm trying out that newsletter thing ✌️! So, um, join now?</strong>
  </p>
  <p>
    <input type="text" name="email" placeholder="Your email address" id="tlemail" />
    <input type="submit" value="Subscribe now" id="tlsubmit" />
  </p>
  <input type="hidden" value="1" name="embed"/>
  <p class="newsletter-credits">Roughly once a month. No spam 'cause I'm not an arse. Powered by <a href="https://tinyletter.com" target="_blank">TinyLetter</a>.</p>
</form>
