@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500');

:root {
  --headers-font: 'Fira Mono', monospace;
  --body-font: 'IBM Plex Sans', sans-serif;

  /* deprecating the headings size and let the browsers do their job */
  /* --h1-font-size: 48px;
  --h2-font-size: 24px;
  --h3-font-size: 20px;
  --headings-font-size: 18px; */
  --body-font-size: 18px;
  --small-font-size: 16px;
  --smaller-font-size: 14px;
  --smallest-font-size: 12px;

  /* Line heights */
  --body-line-height: 1em;
  --h1-line-height: 1.125em;
  --headings-line-height: 1.4em;
  --list-line-height: 1.5em;

  /* Background colors */
  --body-background-color-00: hsl(192, 45%, 98%);
  --body-background-color-01: hsl(30, 64%, 91%);
  --body-background-color-02: hsl(30, 68%, 87%);

  /* Text colors */
  --headings-color: hsl(0, 0%, 13%);
  --font-color: hsl(0, 0%, 13%);
  --desaturated-font-color: hsl(201, 19%, 61%);
  --link-color: hsl(52, 73%, 56%);

  /* Blues */
  --blue-00: hsl(180, 14%, 90%);
  --blue-01: hsl(207, 75%, 44%);
  --blue-02: #6DA5C8;
  --blue-03: hsl(203, 62%, 23%);

  /* Greens */
  --green-00: hsl(110, 12%, 90%);
  --green-01: hsl(110, 10%, 77%);
  --green-02: hsl(110, 14%, 40%);

  /* Accent colors */
  --pink: hsl(337, 100%, 79%);
  --orange: hsl(3, 96%, 61%);
  --tomato: #FF3D56;
  --bright-yellow: hsl(54, 100%, 62%);

  /*
    Redesign 2026
   */
  --hl-strong:  #3d3d3d;
  --hl-medium:  #474747;
  --hl-base:    #424242;
  --hl-subtle:  #4d4d4d;
  --hl-muted:   #525252;

  /* -- Code block (old mac style) -- */
  --ctp-text:      #505050;
  --ctp-border:    #505050;
  --ctp-shadow:    #505050;
  --ctp-surface1:  #e0e0e0;
  --ctp-overlay0:  #999999;
  --ctp-base:      #ffffff;
  --ctp-mantle:    #f0f0f0;
  --ctp-crust:     #e8e8e8;
}

/* Breakpoints must remain as SCSS variables for media queries */
$break-large: 1900px;
$break-medium: 1024px;
$break-small: 560px;

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
