@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700,900');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500');

$headers-font: 'Roboto Slab', serif;
$body-font:'IBM Plex Sans', sans-serif;

$body-font-size: 18px;
$h1-font-size: 36px;
$h2-font-size: 24px;
$h3-font-size: 20px;
$headings-font-size: 18px;
$small-font-size: 14px;

$body-line-height: 1em;
$h1-line-height: 1.125em;
$headings-line-height: 1.4em;
$list-line-height: 1.5em;

$body-background-color-00: hsl(38, 44%, 96%);
$body-background-color-01: hsl(30, 64%, 91%);
$body-background-color-02: hsl(30, 68%, 87%);

$headings-color: hsl(202, 77%, 7%);
$font-color: hsl(202, 66%, 15%);
$link-color: hsl(28, 76%, 54%);

$medium-blue: hsl(203, 59%, 43%);
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
