@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700,900');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500');

$headers-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$body-font:'IBM Plex Sans', sans-serif;

$h1-font-size: 48px;
$h2-font-size: 24px;
$h3-font-size: 20px;
$headings-font-size: 18px;

$body-font-size: 18px;
$small-font-size: 16px;
$smaller-font-size: 14px;
$smallest-font-size: 12px;

$body-line-height: 1em;
$h1-line-height: 1.125em;
$headings-line-height: 1.4em;
$list-line-height: 1.5em;

$body-background-color-00: hsl(200, 48%, 94%);
$body-background-color-01: hsl(30, 64%, 91%);
$body-background-color-02: hsl(30, 68%, 87%);

$headings-color: hsl(0, 0%, 13%);
$font-color: hsl(0, 0%, 13%);
$desaturated-font-color: hsl(201, 19%, 61%);
$link-color: hsl(52, 73%, 56%);
$blue-00: hsl(180, 14%, 90%);
$blue-01: hsl(207, 75%, 44%);
$blue-02: #6DA5C8;
$blue-03: hsl(203, 62%, 23%);

$green-00: hsl(110, 12%, 90%);
$green-01: hsl(110, 10%, 77%);
$green-02: hsl(110, 14%, 40%);

$pink: hsl(0, 72%, 79%);
$orange: hsl(3, 96%, 61%);

$break-large: 1500px;
$break-medium: 1024px;
$break-small: 560px;

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
