---
layout: default
title: The complete archive of Ruby on Rails posts by Remi Mercier
---

<article class="blog-archive">
  <div class="blog-archive--title">
    <h1>Sometimes, I write.</h1>
    <p>
      I find joy <em>in building things</em>. Then, I find joy in writing about what I've learned in the process. I suspect I learn new things just for the sake of having catchy stories to write later on. This blog is where I gather my technical entries, from newest to oldest.
    </p>
    <p>
      Don't fancy getting updates through capricious algorithms? Subscribe to my <a href="{{site.baseurl}}/newsletter">newsletter</a> or grab the <a href="{{site.baseurl}}/feed.xml">RSS feed</a>.
    </p>
  </div>

  <div class="blog-archive--body">
    <section>
      {% assign filtered_posts = paginator.posts | where_exp: "post", "post.lang != 'fr'" %}
      {% for post in filtered_posts %}
        <div class="m-b-48">
          <h2>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          <p>{{ post.excerpt }}</p>
          <a href="{{ post.url | prepend: site.baseurl }}" class="read-more">Read this essay →</a>
        </div>
      {% endfor %}

      <div class="pagination">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path | relative_url }}" class="previous">← Previous</a>
        {% endif %}

        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path | relative_url }}" class="next">Next →</a>
        {% endif %}
      </div>
    </section>

    <aside class="blog-archive--sidebar">
      <h3>Filters</h3>
      <ul>
        {% assign categories = site.posts | map: "category" | flatten | compact | uniq | sort %}
        {% for category in categories %}
          {% unless category == "" or category == nil %}
            <li><a href="{{ site.baseurl }}/series/{{ category }}">{{ category | capitalize }}</a></li>
          {% endunless %}
        {% endfor %}
      </ul>
    </aside>
  </div>

</article>
