---
layout: default
---
<article>
  <h1>{{ page.title }}</h1>

  <div>
    🗓 <time>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</time> -

    ⏱ <span class="article-list-minutes">
      {% capture words %}
        {{ page.content | number_of_words }}
      {% endcapture %}
      {% unless words contains "-" %}
        {{ words | plus: 250 | divided_by: 250 | append: " minute read" }}
      {% endunless %}
  </span>

  <span>
     - {% if page.lang %} 🇫🇷 [fr] {% endif %}
  </span>
  </div>

  {{ content }}
</article>

