---
layout: default
---

<article class="page">
  {% assign category = page.url | split: "/" | last %}
  <section class="page--title">
    <h1 class="series-title" data-category="{{ category }}">{{ page.title }}</h1>
    <p>{{ page.excerpt }}</p>
  </section>
  <section class="page--body">
    {{ content }}
  </section>
</article>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "@id": "{{ site.url }}{{ page.url }}#webpage",
  "name": "{{ page.title | escape }}",
  "url": "{{ site.url }}{{ page.url }}",
  "author": {
    "@id": "{{ site.url }}/#person"
  }
}
</script>
